<h1 class="mt-4">Welcome <%= name %></h1>
<p class="lead mb-3">
  <a href="/users/logout" class="btn btn-secondary">Logout</a>
</p>
<div class="row mt-3">
  <div class="col-md-6 m-auto">
    <h3 class="text-center mb-3">
      <i class="fas fa-list-ol fa-md"></i> List of Donations
    </h3>
    <%- include ('./partials/messages') %>
    <div class="form-group">
      <ul>
        <% for(let i = 0; i < expenses.length; i++ ) { %>
        <li>
          <span><%= expenses[i].name %></span>
          <span><%= expenses[i].amount %></span>
          <span><%= expenses[i].donation %></span>
          <span><%= expenses[i].total %></span>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6 m-auto">
    <h3 class="text-center mb-3">
      <i class="fas fa-money-check-alt fa-md"></i> Expenses to Round Up
    </h3>
    <form action="/users/expenses" method="POST">
      <div class="form-group">
        <label for="name">Expense</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          placeholder="Enter Expense"
        />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          id="amount"
          name="amount"
          class="form-control"
          placeholder="Enter Amount"
        />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Donate</button>
    </form>
  </div>
</div>
